@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bitter:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(213, 240, 216);
}
*{
    box-sizing: border-box;
}
.nav{
    color:rgb(0, 128, 179);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    background-color:white;
    position: fixed;
    top:0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    z-index:999;
}
.webname h3{
    margin:15px;
    color:orangered;
    font-weight: 700;
    margin-left: 5px;
}
.nav-items ul{
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 20px;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
.nav-items ul li a:hover{
    color:rgb(96, 20, 219);
}
#logoutBtn:hover{
    color:rgb(96, 20, 219);
}
a{
    text-decoration: none;
}
.nav-items ul li{
    padding-left:10px;
    padding-right:10px;
    font-weight: 600;
    cursor: pointer;
}
main{
    margin-top: 80px;
}
.welcome{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    padding: 50px;
    background-color:rgb(0, 128, 179);
}
.welcome h1{
    margin: 0;
    text-align:center;
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 20px;
}
.welcome button{
    font-size: 15px;
    font-weight: 600;
    border:0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 1px;
    padding: 8px;
    cursor:pointer
}
.welcome button:hover{
    background-color: rgba(255,255, 255, 0.2);
}
main{
    margin-top:55px;
}
@media (max-width: 768px) {
    .nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
    }
    .welcome{
        transition: height 0.3s ease-out ;
        text-align:center;
        height: 45vh;
    }
} 
.containerr{
    margin-left: 25px;
    margin-right: 25px;
}
.card-img-top{
    padding: 30px;
    object-fit: contain;
    height: 260px;
}
.card{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition:transform 0.4s ease;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-0.5em);
}
.accordion-body{
    color:rgb(23, 128, 20);
}
@media (max-width: 568px) {
    .welcome{
        transition: height 0.01s ease-out ;
        text-align:center;
        height: 60vh;
    }
} 